extends layout

block content
  h1 Welcome to the Flashcard Learning App!
  p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
  
  a(href='/flashcards') View All Flashcards
  br
  a(href='/flashcards/create') Create New Flashcard
