extends layout

block content
  h1 Welcome to the Flashcard Learning App!
  p This app allows you to create, update, and manage flashcards for learning new words and topics.
  
  a(href='/flashcards') View All Flashcards
  br
  a(href='/flashcards/create') Create New Flashcard
